nav {

    font-size: 2 rem;
}

nav a {
    background-color :  rgb(236, 227, 227);
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid rgba(red, green, blue, alpha);



}

nav ul  {list-style-type: none;
}
nav a { 
    display: block; 
    color:#f3efef ;
    text-align: center;
    padding: 5rem;
    text-decoration: none;
}

nav a:hover {
    border:1px solid #fff
}

nav .active {
background-color: rgba 0,0,0,0.3;
}

/*larger Views *********************/
@media (min-width:36rem) {
.parent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
}
nav ul {
    display: flex;
    justify-content:space-between;

nav ul list-style: {
    flex: 1 1 100%;
};    